<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disqus</title>
  <link rel="stylesheet" href="css/style.css">
  <!-- THIS script just for make dev easy -->
  <script>
    window.onclick = function() {
      // window.location.reload();
    }
   </script>
</head>
<body>