<%- include("./head.ejs") %>

<form action="/user/new" method="post">
  <div class="input-username">
    <label for="input-username">User Name</label>
    <input type="text" name="username" id="input-username" />
  </div>
  <div class="input-email">
    <label for="input-email">Email</label>
    <input type="email" name="email" id="input-email">
  </div>
  <div class="input-password">
    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password">
  </div>
  <button type="submit">Sing in</button>
</form>

<%- include("./footer.ejs") %>
